* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.shapeContainer {
    position: absolute;
    z-index: -1;
    filter: drop-shadow(grey 1px 1px 5px)
}

.shape {
    width: 100vw;
    height: 70vh;
    background-color:#418faf;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
}

.imageContainer{
    padding-top: 5vh;
}
.portraitTop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px;
    width: 60vw;

}

.heroTitle {
    position: absolute;
    top: 400px;
    left: 200px;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-size: 100px;
}

.hero > h1 {
    text-align: center;
    font-size: 60px;
}

.hero > p {
    font-size: 48px;
    color: rgb(77, 77, 77)
}

.hero {
    margin-top: 40px;
    padding: 48px;
}

.iconContainer {
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    width: 50vw;

    display: flex;
    justify-content: space-around;
}

.icon {
    width: 72px;
    height: auto;
}

.projectContainer {
    display: grid;
}